<app-add-customer [dataFromInvoiceComponent]="dataToAddCustomerComponent"></app-add-customer>

<div class="container-fluid">
  <h1 class="text-center m-2">Create invoice for customer</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form #invoiceData="ngForm">
          <label>Choose date-</label>
          <input type="date" name="date" class="m-2 form-control row g-3" ngModel />

          <label>InvoiceNumber-</label>
          <input type="number" name="invoiceNumber" class="m-2 form-control row g-3" ngModel />
        </form>
      </div>
    </div>
  </nav>

  <div>
    <form #customerForm="ngForm" class="row g-3 mt-2">
      <h3>choose customer</h3>
      <div class="col-auto">
        <select class="form-control" name="id" [(ngModel)]="customerData.id" (ngModelChange)="trackInputChanges()">
          <option *ngFor="let customer of customerData.content" [value]="customer.id">
            {{ customer.name }}
          </option>
        </select>
      </div>
      <div class="col-auto">
        <input type="text" class="form-control hide" placeholder="id" name="id" [(ngModel)]="customerData.id" />
      </div>
      <div class="col-auto">
        <input type="text" class="form-control hide" placeholder="id" name="name" [(ngModel)]="customerData.name" />
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="email" name="email" [(ngModel)]="customerData.email" />
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="phone" name="phone" [(ngModel)]="customerData.phone" />
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Address" name="address"
          [(ngModel)]="customerData.address" />
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Notes" name="notes" [(ngModel)]="customerData.notes" />
      </div>
      <div class="col-auto">
        <input type="text" class="form-control hide" placeholder="id" name="customerId"
          [(ngModel)]="customerData.customerId" />
      </div>
      <div class="col-auto">
        <button type="submit" (click)="removeItem()" class="btn btn-outline-danger btn-sm">
          Remove
        </button>
        <button class="btn btn-outline-success m-2 btn-sm" type="button" (click)="showAddCustomerDialog()">
          add
        </button>
      </div>

      <h4 class="mt-5">Add Items-</h4>
      <app-item-table [flag]="true"></app-item-table>
      <button class="btn btn-sm btn-success m-1" (click)="submit(customerForm.value, invoiceData.value)">
        Submit
      </button>
    </form>
  </div>
</div>