<ng-template #openPopUp let-modal>
  <div class="modal-body">
    <form #simpleform="ngForm" validate>
      <div class="form-group">
        <div class="row">
          <label>Invoice Number-</label>
          <b>{{ invoiceData.invoiceNumber }}</b>

          <label class="mt-2">Customer Name-</label>
          <b>{{ invoiceData.customerName }}</b>

          <label class="mt-2">Creation Date-</label>
          <b>{{ invoiceData.createdAt }}</b>
        </div>
      </div>
      

    </form>
  </div>
</ng-template>
