<ng-template #openPopUp let-modal>
  <div class="modal-body">
    <form #simpleform="ngForm" validate>
      <div class="form-group">
        <div class="row">
          <label>Invoice Number-</label>
          <b>{{ invoiceData.invoiceNumber }}</b>

          <label class="mt-2">Customer Name-</label>
          <b>{{ invoiceData.customerName }}</b>

          <label class="mt-2">Creation Date-</label>
          <b>{{ invoiceData.createdAt }}</b>
        </div>
      </div>
      <table class="table table-bordered mt-2">
        <thead class="thead-dark">
          <tr>
            <th>Item Name</th>
            <th>Item Sales Price</th>
            <th>Item Quantity</th>
            <th>Item Offer(%)</th>
            <th>Item Tax(%)</th>
            <th>Item Final Price</th>
          </tr>
        </thead>
        <tbody *ngFor="let invoiceItems of invoiceData.invoiceItems">
          <tr>
            <td>{{ invoiceItems.itemName }}</td>
            <td>{{ invoiceItems.itemSalesPrice }}</td>
            <td>{{ invoiceItems.itemQuantity }}</td>
            <td>{{ invoiceItems.itemOffer }}</td>
            <td>{{ invoiceItems.itemTax }}</td>
            <td>{{ invoiceItems.itemFinalPrice }}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</ng-template>
